# Exploration of Data

In [22]:
import pandas as pd

Vacation_df = pd.read_csv('list_top_tourist_attractions_inus-1515j.csv')
Vacation_df.columns

Index(['Place', 'Location', 'Visitors (millions)'], dtype='object')

In [23]:
Vacation_df.shape

(29, 3)

In [24]:
Vacation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Place                26 non-null     object
 1   Location             26 non-null     object
 2   Visitors (millions)  26 non-null     float64
dtypes: float64(1), object(2)
memory usage: 824.0+ bytes

In [25]:
Vacation_df.isnull().sum().sort_values(ascending=False)

Place                  3
Location               3
Visitors (millions)    3
dtype: int64

In [26]:
Vacation_df.head()

,Place,Location,Visitors (millions)
0,Walt Disney World Resort,"Orlando, Florida",45.0
1,Mall of America,"Bloomington, Minnesota",40.0
2,Times Square,"New York, New York",35.0
3,Las Vegas Strip,"Las Vegas, Nevada",31.0
4,National Mall and Memorial Parks,"Washington, D.C.",24.0

In [27]:
Vacation_df

,Place,Location,Visitors (millions)
0,Walt Disney World Resort,"Orlando, Florida",45.00
1,Mall of America,"Bloomington, Minnesota",40.00
2,Times Square,"New York, New York",35.00
3,Las Vegas Strip,"Las Vegas, Nevada",31.00
4,National Mall and Memorial Parks,"Washington, D.C.",24.00
5,Disneyland Resort,"Anaheim, California",22.10
6,Faneuil Hall Marketplace,"Boston, Massachusetts",20.00
7,Fisherman's Wharf/Golden Gate Area,"San Francisco, California",14.00
8,Niagara Falls,New York,12.00
9,Great Smoky Mountains National Park,North Carolina and Tennessee,9.40
10,Navy Pier,"Chicago, Illinois",8.60
11,Lake Mead National Recreation Area,"Las Vegas, Nevada",7.60
12,Empire Mall,"Sioux Falls, South Dakota",7.00
13,Universal Orlando Resort,"Orlando, Florida",6.20
14,SeaWorld Orlando,"Orlando, Florida",6.00
15,San Antonio River Walk,"San Antonio, Texas",5.10
16,Salt Lake Temple,"Salt Lake City, Utah",5.00
17,Delaware Water Gap National Recreation Area,New Jersey and Pennsylvania,4.80
18,Universal Studios Hollywood,"Universal City, California",4.70
19,Metropolitan Museum of Art,"New York City, N.Y.",4.50
20,Waikiki Beach,"Honolulu, Hawaii",4.50
21,Grand Canyon,Arizona,4.41
22,Busch Gardens Tampa Bay,"Tampa, Florida",4.40
23,Cape Cod National Seashore,"Barnstable County, Massachusetts",4.35
24,SeaWorld San Diego,"San Diego, California",4.26
25,American Museum of Natural History,"Manhattan, New York City",4.00
26,NaN,NaN,NaN
27,NaN,NaN,NaN
28,NaN,NaN,NaN